<div class="container content">
    <div class="row">
        <div class="col-12">
            <p class="text-style">Ejemplo de texto en modulo saludador.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 align-btn1">
            <button type="button" class="btn btn-primary">btn ejemplo1</button>
        </div>
        <div class="col-md-6 align-btn1">
            <button type="button" class="btn btn-primary">btn ejemplo2</button>
        </div>
    </div>
</div>