.text-style{
    padding-top: 30px;
    text-align: center;
    font-size: 40px;
    font-style: oblique;
    font-weight: bolder;
    color: #6d6d6d;
}

.align-btn1{
    margin-top: 20px;
    text-align: center;
}

.btn{
    width: 80%;
}